h2 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#num1 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#num2 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#num3 {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family:"Momo Trust Display", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 40px;
    border-style: dotted;
}